/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

label {
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    height: auto;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    max-width: 1000px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Centering the buttons side by side */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between the buttons */
    margin-top: 20px;
    size: 50%;
}

/* Hide the print button when printing */
@media print {
    #printButton,
    #downloadCSVButton {
        display: none;
    }
}
/* Responsive Styles */
@media (max-width: 600px) {
    form {
        padding: 8px;
    }

    th, td {
        padding: 8px;
    }
}

/*
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    animation: slide 20s ease forwards;
    border: #007BFF 2px solid;
    border-radius: 6px;
    color: #007BFF;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}
    */